body {
    font-family: arial;
    margin-top: 0px;
}



.cabecalho {
    background-color: #ff7212;
	color: white;
    margin-left: 100px;
    font-size: 22px;
}

.cabecalho h2 {
    margin-left: 20px;
}



.conteudo {
    width: 900px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.titulo {
	margin-left: 120px;
}

.titulo h1 {
	font-size: 50px;
}

.titulo h2 {
	font-size: 14px;
	font-weight: normal;
}

.conteudo p{

    color: #484848;
    line-height: 30px;
    font-size: 18px;
    
}

.conteudo img {

    width: 600px;
    margin-top: 30px;
}

.conteudo h3{

    font-size: 20px;
    margin-top: 45px;
    
}

#saibamais {

    font-size: 18px;
}


figcaption {
	font-size: 12px;
}

iframe {
    margin-bottom: 0px;
   

}

a {
	color: #484848;
	line-height: 30px;
	font-size: 18px;

}

ul {
	list-style: none;
	list-style-type: none;
	padding: 0px;
}



